

.centerMe {
    margin: 0 auto;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.inlineMe {
    display: inline-block;
}

.centerAbs {    
    left: 50%;
    transform: translateX(-50%);
}

.leftAlign {
    text-align: left;
}

.pointer {
    cursor: pointer;
}

.murgadoMaxWidth {
    max-width: 1600px;
}

.murgadoSecondaryMaxWidth {
    max-width: 1200px;
}

.maxWidth, .murgadoMaxWidth, .murgadoSecondaryMaxWidth  {
    width: 100%;
}

a {
    text-decoration: none;
}

a[x-apple-data-detectors=true] { color: inherit !important; text-decoration: inherit !important;}

h1, h2, h3, h4, h5 {
    color: #000000;
    line-height: 120%;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 24px;
}

.murgadoBlue {
    background-color: #2A3886;
}

.murgadoRed {
    background-color: #E53941;
}

.spacer10 {
    height: 10px;
}

.spacer20 {
    height: 20px;
}

.spacer30 {
    height: 30px;
}

.spacer40 {
    height: 40px;
}

.spacer10, .spacer20, .spacer30, .spacer40 {
    width: 100%;
}

/* - - - - - - - - Logo Animation Top: */

#LogoAnimationBigCont {
    width: 100%;
    background-color: #ffffff;
}

#LogoAnimationBigCont, #logoAnimCont, .logoAnim  {
    height: 86px;
}

#logoAnimCont {
    overflow: hidden;
}

.logoAnim {
    width: 1609px;
    top: 0px;    
     
    -webkit-animation-duration: 100s;
       -moz-animation-duration: 100s;
        -ms-animation-duration: 100s;
         -o-animation-duration: 100s;
            animation-duration: 100s;     
     
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;    

    -webkit-animation-timing-function: linear;
       -moz-animation-timing-function: linear;
            animation-timing-function: linear;

    -webkit-transform-origin: 0%;
       -moz-transform-origin: 0%;
         -o-transform-origin: 0%;
            transform-origin: 0%;
}

#logoAnim01 {
    z-index: 5010;
    -webkit-animation-name: logoAnim01;
       -moz-animation-name: logoAnim01;
        -ms-animation-name: logoAnim01;
         -o-animation-name: logoAnim01;
            animation-name: logoAnim01;
}

#logoAnim02 { 
    z-index: 5009;
    -webkit-animation-name: logoAnim02;
       -moz-animation-name: logoAnim02;
        -ms-animation-name: logoAnim02;
         -o-animation-name: logoAnim02;
            animation-name: logoAnim02;
}

#logoAnim03 { 
    z-index: 5008;
    -webkit-animation-name: logoAnim03;
       -moz-animation-name: logoAnim03;
        -ms-animation-name: logoAnim03;
         -o-animation-name: logoAnim03;
            animation-name: logoAnim03;
}

#logoAnim04 { 
    z-index: 5007;
    -webkit-animation-name: logoAnim04;
       -moz-animation-name: logoAnim04;
        -ms-animation-name: logoAnim04;
         -o-animation-name: logoAnim04;
            animation-name: logoAnim04;
}

@keyframes logoAnim01 {

    0% {
        left: 0px;
    }

    25% {
        left: -1640px;
        opacity: 1;
    }

    26% {
        left: -1640px;
        opacity: 0;
    }

    27% {
        left: 1640px;
        opacity: 0;
    }

    28% {
        left: 1640px;
        opacity: 1;
    }

    74% {
        left: 1640px;
    }

    75% {
        left: 1640px;
    }

    100% {
        left: 0px;
    }

}

@-webkit-keyframes logoAnim01 {

    0% {
        left: 0px;
    }

    25% {
        left: -1640px;
        opacity: 1;
    }

    26% {
        left: -1640px;
        opacity: 0;
    }

    27% {
        left: 1640px;
        opacity: 0;
    }

    28% {
        left: 1640px;
        opacity: 1;
    }

    74% {
        left: 1640px;
    }

    75% {
        left: 1640px;
    }

    100% {
        left: 0px;
    }

}

@keyframes logoAnim02 {

    0% {
        left: 1640px;
    }

    25% {
        left: 0px;
    }

    50% {
        left: -1640px;
    }

    52% {
        left: -1640px;
        opacity: 1;
    }

    53% {
        left: -1640px;
        opacity: 0;
    }

    54% {
        left: 1640px;
        opacity: 0;
    }

    100% {
        left: 1640px;
        opacity: 1;
    }

}

@-webkit-keyframes logoAnim02 {

    0% {
        left: 1640px;
    }

    25% {
        left: 0px;
    }

    50% {
        left: -1640px;
    }

    52% {
        left: -1640px;
        opacity: 1;
    }

    53% {
        left: -1640px;
        opacity: 0;
    }

    54% {
        left: 1640px;
        opacity: 0;
    }

    100% {
        left: 1640px;
        opacity: 1;
    }

}

@keyframes logoAnim03 {

    0% {
        left: 1640px;
    }

    25% {
        left: 1640px;
    }

    50% {
        left: 0px;
    }

    75% {
        left: -1640px;
    }

    76% {
        left: -1640px;
        opacity: 1;
    }

    77% {
        left: -1640px;
        opacity: 0;
    }

    99% {
        left: 1640px;
        opacity: 0;
    }

    100% {
        left: 1640px;
        opacity: 1;
    }
}

@-webkit-keyframes logoAnim03 {

    0% {
        left: 1640px;
    }

    25% {
        left: 1640px;
    }

    50% {
        left: 0px;
    }

    75% {
        left: -1640px;
    }

    76% {
        left: -1640px;
        opacity: 1;
    }

    77% {
        left: -1640px;
        opacity: 0;
    }

    99% {
        left: 1640px;
        opacity: 0;
    }

    100% {
        left: 1640px;
        opacity: 1;
    }
}

@keyframes logoAnim04 {

    0% {
        left: 1640px;
    }

    50% {
        left: 1640px;
    }

    75% {
        left: 0px;
    }

    100% {
        left: -1640px;
    }

}

@-webkit-keyframes logoAnim04 {

    0% {
        left: 1640px;
    }

    50% {
        left: 1640px;
    }

    75% {
        left: 0px;
    }

    100% {
        left: -1640px;
    }

}

/* - - - - - - - - Home Page Map: */

#homePageMapBigCont {
    text-align: center;
    overflow: hidden;
    z-index: 2000;
    background-color: #ffffff;
}

.homePageMapCont {
    max-width: 1200px;
}


#homePageMapTitleCont {
    padding: 100px 0 20px;
    text-align: center;
}

#homePageMap{
    width: 100%;
}

/* - - - - - - - - Home Page Map Selection: */

#homePageMapSelectionCont {
    margin: 30px auto;
    height: 40px;
}

#homePageMapSelectionScroller {
    left: 0px;
    top: 0px;
    height: 100%;
    width: 850px;
}

.citySelectionCont {
    top: 0;
    height: 40px;
    text-align: left;
    padding-left: 0;
}

#cityMiami, #cityStuart, #cityEdison  {
    width: 150px;
}

#cityMiami  {
    width: 150px;
}

#cityStuart  {
    width: 150px;
}

#cityJackson {
    width: 230px;
}

#cityChicago {
    width: 170px;
}

#cityEdison  {
    width: 150px;
}

#homePageMapSelectionRedBar {
    width: 111px;
    height: 4px;
    left: 0;
    top: 38px;
}

/* - - - - - - - - Home Page Map Tabs: */

#homePageMapTabCont {
    padding-top: 10px;
    padding-bottom: 50px;
}

.tabGroups {
    width: 100%;
    display: inline-block;
    text-align: left;
}

.homePageMapTabs {
    margin-bottom: 25px;
    margin-right: 25px;
    width: 31%;
    height: 530px;
    overflow: hidden;
    border-radius: 6px;
    padding: 190px 40px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .16);
    color: #000000;
    text-align: left;
}

.tabDivider {
    width: 40px;
    height: 2px;
    margin: 25px 0;
    background-color: #2A3886;
}

.tabBoxLinks, .tabGroupButton, .homePageMapTabs, .homePageMapTabs a,  .homePageMapTabs ul li { 
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

ul li {
    margin-left: 18px;
}

.tabBoxLinks, .homePageMapTabs {
    color: #000000;
}

.tabHeader {
    color: #2A3886;
}

.tabGroupButton {
    width: 156px;
    height: 44px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border-radius: 22px;
    padding-top: 10px;
    background-color: #2A3886;
    margin-top: 25px;
    cursor: pointer;
}

.hideMe {
    width: 100%;
    display: none;
}

#hideMiami {
    display: inline-block;
}

/* - - - - - - - - Home Page Map Tabs Images: */

.tabIMGcont {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 155px;
    margin-bottom: 35px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

#tabIMGcont01 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103832');
}

#tabIMGcont02 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103833');
}

#tabIMGcont03 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103834');
}

#tabIMGcont04 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103835');
}

#tabIMGcont05 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103836');
}

#tabIMGcont06 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103837');
}

#tabIMGcont07 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103838');
}

#tabIMGcont08 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103839');
}

#tabIMGcont09 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103840');
}

#tabIMGcont10 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103841');
}

#tabIMGcont11 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103837');
}

#tabIMGcont12 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103842');
}

#tabIMGcont13 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103843');
}

#tabIMGcont14 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103844');
}

#tabIMGcont15 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103845');
}

#tabIMGcont16 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103846');
}

#tabIMGcont17 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103847');
}

#tabIMGcont18 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103848');
}

#tabIMGcont19 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103849');
}

#tabIMGcont20 {
    background-image: url('https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=103850');
}

/* - - - - - - - - Breaks: */

.tabHeaderLineBreakCont {
    height: 65px;
}

#fastPass {
    height: 43px;
}

/* - - - - - - - - Media Queries: */

@media screen and (max-width:1250px) {

    .murgadoSecondaryMaxWidth {
        padding-left: 50px;
        padding-right: 50px;
    }

    #homePageMapSelectionCont {
        margin-left: 50px;
    }

    .homePageMapTabs {
        width: 30%;
    }

    
    .wrapMe {
        display: inline-block;
    }

    .hideWrap {
        display: none;
    }

    ul li {
        font-size: 14px !important;
    }

    #fastPass {
        height: 55px;
    }

}

@media screen and (max-width:1200px) {

    #fastPass {
        height: 34px;
    }

}

@media screen and (max-width:1180px) {

    .tabIMGcont {
        height: 125px;
    }

    .homePageMapTabs {
        padding-top: 160px;
        height: 500px;
    }

    #fastPass {
        height: 34px;
    }

}

@media screen and (max-width:1150px) {

    .homePageMapTabs {
        padding-left: 25px;
        padding-right: 25px;
    }

    #fastPass {
        height: 55px;
    }

}

@media screen and (max-width:1080px) {

    #fastPass {
        height: 34px;
    }

}

@media screen and (max-width:1050px) {

    .tabBoxLinks, .tabGroupButton, .homePageMapTabs, .homePageMapTabs a,  .homePageMapTabs ul li { 
        font-size: 14px;
    }
    
    h5 {
        font-size: 20px;
    }

    #homePageMapSelectionRedBar {
        width: 93px;
    }

    .homePageMapTabs {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 140px;
        height: 470px;
    }

    .tabIMGcont {
        height: 110px;
    }

}

@media screen and (max-width:900px) {

    .homePageMapTabs {
        width: 46%;
    }

    .tabGroups {
        width: 90%;
        margin: 0 auto;
    }

}

@media screen and (max-width:800px) {

    #homePageMapIMGCont {
        display: none;
    }

    .homePageMapTabs {
        width: 45%;
    }

    .tabGroups {
        width: 100%;
    }

}

@media screen and (max-width:650px) {

    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    h4 {
        font-size: 20px;
    }

    #homePageMapTitleCont {
        padding: 40px 0;
    }

    .murgadoSecondaryMaxWidth, #LogoAnimationBigCont {
        padding-left: 20px;
        padding-right: 0;
    }

    #homePageMapSelectionCont {
        margin-left: 20px;
        margin-top: 10px;
    }

    .tabIMGcont {
        height: 110px;
    }

    .homePageMapTabs {
        padding-top: 135px;
        height: 445px;
        width: 250px;
        margin-right: 20px;
    }

    .tabGroups {
        width: 1640px;
    }

    #homePageMapTabCont {
        overflow-x: scroll;
    }

    .homePageMapTabs {
        height: 460px;
    }

}
